body{
  background-color: rgb(73, 70, 70);
  background-image: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.85) 100%);
}


.nav {
  text-align: center;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width:90%;
  margin: 0 auto;
  padding-top: 15px;
}
.nav .links {
  align-self: flex-end;
}
.nav .title .Algo {
  color: #2a2a73;
  text-decoration: none;
  font-size: 4em;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;

}
.nav .links a {
  align-self: center;
  text-decoration: none;
  font-size: 2em;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  color: #161618;

  margin-right: 20px;
  margin-left: 20px;
}



ul {
  list-style-type: none;
}

ul > li > .Algo {
  float: left;
}
ul li {
  display: inline;
}

.splash {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.splash .image-div {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
.splash .image-div .image {
  width: 35vw;
  height: 35vw;
  padding-left: 25px;
}

.splash .infodiv {
  font-size: 3em;
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.infotext {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 59px;
  color: #675fbd;
  padding-left: 125px;
  padding-bottom: 50px;
}

.visualize-button {
  margin-top: 10px;
  text-decoration: none;
  padding-left: 150px;
}
.btn-text {
  background-color: #4717F6;;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 58px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  padding: 1px 10px;
  border-radius: 10px;
}
